<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pop A Pet</title>
    <link rel="stylesheet" href="template.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="title">Pop A Pet</h1>
      <h2 id="score" class="subtitle">Your Score: 0</h2>
      <button id="replay-button" class="replay-button" style="display: none">
        Replay
      </button>
      <div id="game-board" class="game-board"></div>
    </div>
    <script src="template.js"></script>
  </body>
</html>
