@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes popUp {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  to {
    transform: translateY(-40%);
    opacity: 1;
  }
}
